.table-style {
    background-color: aliceblue;
}
.table-style {
    width: 50%;
    border-collapse: collapse;
    border: 1px solid;
}

.table-style {
    color: darkblue;
}

.table-style {
    font-style: italic;
}